     :root {
        /* from https://creativexcorner.wordpress.com/2018/03/07/jean-michel-basquiat-one-of-the-last-natural-born-artists/ */
     --main-accent: rgb(244,  135, 0 ); 
     --rare-accent: rgb(20,  64,  100 ) ; 
     --main-div: rgb(28, 35,  48  ); 
     --gray-div: rgb(232,  233, 232 ) ;
}

 body {
      background-color: var(--main-div);
      color: #fe0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
        font-weight: 100;
}

form {
  margin: auto 5rem;
}

img {
  width: 14rem;
  height: auto;
}

.monde {
  /*==f=i=l=l==s=c=r=e=e=n==================*/
  min-height: 100%;
  xmin-width: 1024px; 
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  /*==f=i=l=l==s=c=r=e=e=n==END============*/
    display: flex;          /*(1)VERT*/
    flex-direction: row;    /*(1)VERT*/
    align-items: center;    /*(1)VERT*/
    justify-content: center;  /*(2)HORIZ*/
}

.square-large {
    border-radius: 2rem;
    border: solid 0.4rem rgb(255, 255, 0);
    height: 28rem;
    xwidth: 28rem;
        display: flex;          /*(1)VERT*/
    flex-direction: column;    /*(1)VERT*/
    align-items: center;    /*(1)VERT*/
    justify-content: center;  /*(2)HORIZ*/
}

.square-small {
    border-radius: 2rem;
    border: solid 0.4rem rgb(255, 255, 0);
    margin: auto 5rem;
    height: auto;
    xwidth: 12rem;
    display: flex;          /*(1)VERT*/
    flex-direction: row;    /*(1)VERT*/
    align-items: center;    /*(1)VERT*/
    justify-content: center;  /*(2)HORIZ*/
    text-align: center;
}

.core {
    color: #f66;
    text-align: center;
}

.brand {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.co2 {
  font-variant: small-caps;}

.bigger-font {
  font-size: 3rem;
  color: white;
  font-family: monospace;
}
