    :root {
        /* from https://creativexcorner.wordpress.com/2018/03/07/jean-michel-basquiat-one-of-the-last-natural-born-artists/ */
     --vivid3: rgb(227, 191, 39);  
     --vivid1: rgb(29, 60, 171); 
     --vivid2: rgb(213, 90, 34 );
     --dark1: rgb(7, 23, 53);
     --light1: rgb(197, 190, 170); 
     --light2: rgb(222, 223, 223); 
}
    body {
          margin: 0;
          background-color: var(--light2);
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
            sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
    }


/*===c=e=n=t=e=r=i=n=g=================*/
.monde {
  /*==f=i=l=l==s=c=r=e=e=n==================*/
  background-color: #444;
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/*===d=i=v=s===&====b=o=u=n=d=s=======*/

div, ul, li {
  border: solid transparent 0.2rem;
  border-radius: 0.3rem; 
}

.stay-wide {
  min-width: 70%;
}

.bpm {
  padding: 0.5rem;
  margin: 0.5rem;
}

.blox {
  min-width: 10rem;
  min-height: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.back-blue {
  background-color: #aaf
  color: #eee;
}

.back-warm {
  background-color: #a41;
  color: #ff9;
  font-size: 1.6rem;
}

.back-gray {
  background-color: #aaa;
  color: #ff9;
  font-size: 1.6rem;
}

/*=T=H=E=M=E===B=U=T=T=O=N=S=======*/

ul {
  list-style-type: none;;
  overflow: hidden;
  width: 96%;
}

ul li {
  float: right;
  background-color: #111;
  color: #ddd;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
}

li:hover {
  transform: scale(1.35);

}

.buttons-holder {
  height: auto;
  display: inline;
}
