.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 3rem; 
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid blue 0.3rem;
  border-radius: 0.3rem;
  margin: 0.5rem 0.5rem 0.5rem 3rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*=======E==V==A==N================*/

.stay-big {
  min-width: 4rem;
  min-height: 1.1rem;
  color: red;
  background-color: black;
}